.headerContainer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    color: inherit;
    text-decoration: inherit;
    font-size: 2rem;
    margin: 0;
}

.headerLogo h1 {
    display: flex;
    margin: 0;
}

.headerLogo span {
    /* display: block; */
    margin-right: 5px;
}